#[TheHive Case Number]#
%issue.number%

#[Title]#
TheHive Case  %issue.title%

#[Severity]#
%issue.severity% - %issue.severityLabel%

#[Status]#
%issue.status%

#[Summary]#
%issue.summary%

#[In Progress Date]#
%issue.inProgresssDate%

#[Time To Detect]#
%issue.timeToDetect%

#[Time To Acknowledge]#
%issue.timeToAcknowledge%

#[Time To Qualify]#
%issue.timeToQualify%

#[Handling Duration]#
%issue.handlingDuration%

#[Assignee]#
%issue.assignee%

#[WarningCount]#
%issue.security_warnings%
