#[Title]#
TheHive case information


#[Application]#
%scan_info.app_path%


#[TheHive Version]#
%scan_info.thehive_version%


#[RailsVersion]#
%scan_info.rails_version%


#[WarningCount]#
%scan_info.security_warnings%
